import('sprites/*')
import('helpers/svg-size')
@import 'helpers/variables'
@import 'helpers/mixins'
@import 'helpers/fonts'
@import 'helpers/optimize'
@import 'helpers/grid'

import('../blocks/**/*')

body 
	font-family Fira Sans
	
input
	font-family inherit
	border none
	
a
	color inherit
	text-decoration none
	transition(all .3s ease 0s)
	
	
.container
	padding 0 20px
	
	@media screen and (min-width: 768px)
		padding 0 24px
		
	@media screen and (min-width: 1420px)
		max-width 1340px
		width 1340px
		
.column
	
	padding 0 .5em
	
	@media screen and (min-width: 1280px)
		padding 0 15px		
	
.container-inner
	
	max-width 590px
	margin 0 auto
	overflow hidden
	
	@media screen and (min-width: 768px)
		max-width 748px
		
	@media screen and (min-width: 1280px)
		max-width 882px
	
	@media screen and (min-width: 1420px)
		max-width 1340px
		
.is-3-tablet
	@media screen and (min-width: 768px)
		flex none
		width 25%
	
.overflow_hidden
	overflow hidden
	
.flex-flow_column-md
	flex-flow column
	
	@media screen and (min-width: 1280px)
		flex-flow row
		
.flex-flow_row
	display flex
	flex-flow row
	
.flex-flow_md
	@media screen and (min-width: 768px)
		display flex

.gradient
	padding-right 0
	padding-bottom .75em
	background linear-gradient(to top, $logo-color_yellow 1.75em, transparent 1.75em)
	background-clip content-box
		

.bg-image
	position absolute
	top -9999px
	left -9999px
	bottom -9999px
	right -9999px
	min-width 100%
	min-height 100%
	margin auto
	
	@media screen and (min-width: 1280px)
		top 0
		left 56.46%
		bottom 0
		right 0
		min-width auto
		
.filter
	position absolute
	top 0
	left 0
	width 100%
	height 100%
	background-color #000
	opacity .7
	
	@media screen and (min-width: 1280px)
		display none
		
.mytitle
	color $title-color
		
.carousel__nav
	position absolute
	left 50%
	bottom 0
	text-align center
	margin 0 auto
	transform translateX(-50%)

.nav__out
	display inline-block
	width 40px
	height 40px
	margin-right 5px
	// transition all 0.1s ease
	
	&:last-child
		margin-right 0
	
	&_active
		border 1px solid #707070
		border-radius 50%
	
	&_arrow
		margin-right 16px
				
	@media screen and (min-width: 769px)
		&:hover
			.nav__inner
				background-color #4C4B4B
				
		&_active:hover
			opacity .5
			
		&_arrow:hover
			.nav__inner
				background none		
	
.nav__inner
	display inline-block
	position relative
	top 12px
	width 12px
	height 12px
	background-color #EDEDE8
	border-radius 50%
	transition all 0.6s ease
		
	&_active
		background-color #4C4B4B
		
	&_arrow
		top 10px
		width 8px
		height 8px
		border-left 2px solid #807C7C
		border-top 2px solid #807C7C
		background none
		border-radius 0
		
		&:hover
			background none
		
		&-left
			transform rotate(-45deg)
		
		&-right
			transform rotate(135deg)

.automation
	position relative
	height 413px
	padding 44px 0
	text-align center
	overflow hidden
	
	@media screen and (min-width: 768px)
		height 720px
	
	@media screen and (min-width: 1280px)
		text-align left
		

.slideshow
	position relative
	margin-top 66px
	overflow hidden
	
	&__carousel-nav
		bottom 12px
		
	@media screen and (min-width: 768px)
		&__carousel-nav
			bottom 20px
	
	@media screen and (min-width: 1280px)
		margin-top 101px
		padding-bottom 72px
		
		&__nav-wrapper
			position relative
			
		&__carousel-nav
			left 15px
			bottom 5px
			transform none
	
	@media screen and (min-width: 1420px)
		&__carousel-nav
			left 65px
			
		
	@media screen and (max-width: 1279px)
	
		&__nav-out_active
			border-color #fff
								
		&__nav-inner
			background-color #fff
			opacity .3
			
		&__nav-inner_active
			opacity 1
			
	@media screen and (min-width: 769px) and (max-width: 1279px)
			
		&__nav-out:hover
			
			& .slideshow__nav-inner
				background-color #fff
				opacity 1
		
		&__nav-out_active:hover
			opacity 0.3
			
			& .slideshow__nav-inner
				background-color #fff

.about
	
	padding-top 2rem
	padding-bottom 50px
	overflow hidden
	
	@media screen and (min-width: 768px) and (max-width: 1279px)
		margin-top 70px
	
	@media screen and (min-width: 1280px)
		padding-top 124px
	
	
.display-none-column_sm
	display none
	
	@media screen and (min-width: 768px)
		display block
			
.display-none-column_sm-md
	display none
	
	@media screen and (min-width: 1280px)
		display block
			
			
.about__picture

	position relative
	
	&::before
		position absolute
		top -124px
		left -.75rem
		width 376px
		height 500px
		content ''
		background-image url('../images/about-back.png')
			
			
	@media screen and (min-width: 1280px)
			
			&::before
				width 455px		
		
.about__hero
	
	@media screen and (min-width: 1280px)
		background-image url('../images/emblem_gray.png')
		background-repeat no-repeat
		background-origin content-box

.about__hero-body
	margin-top 23px
	
	@media screen and (min-width: 768px)
		margin-left 34px
	
	@media screen and (min-width: 1280px)
		margin-top 114px
		margin-left 109px
		
.about__img-wrapper
	position relative
	z-index 10
	width 352px
	height 560px
	margin 0 auto
	overflow hidden
	
	@media screen and (min-width: 1280px)
		width 406px
		
.about__img
	min-width 100%
	max-width none
	height 100%
				
.about__title
	margin-bottom 32px
	font-size 20px
	line-height 32px
	font-weight 700
	color $title-color
	
	@media screen and (min-width: 768px)
		font-size 40px
		line-height 48px	
	
.about__text
	font-size 16px
	line-height 24px
	
	@media screen and (min-width: 768px)
		font-size 20px
		line-height 32px
	
.automation__hero
.automation__title
	
	@media screen and (max-width: 1280px)
		color #fff

.automation__hero-body
	
	@media screen and (max-width: 1280px)
		margin 0 auto
		max-width 650px
	
	@media screen and (max-width: 800px)
		max-width 545px
		
	@media screen and (min-width: 768px) and (max-width: 1280px)
		margin-top 10em

.credo
	position relative
	height 505px
	padding 44px 0
	text-align center
	overflow hidden
	
	@media screen and (min-width: 1280px)
		margin-bottom 100px
	
	&__title
		margin-bottom 8px
	
	@media screen and (min-width: 768px)
		height 592px
	
	@media screen and (min-width: 1280px)
		text-align left
		
.credo__hero-body
	
	@media screen and (max-width: 1280px)
		margin 0 auto
		max-width 650px
	
	@media screen and (max-width: 800px)
		max-width 545px
		
	@media screen and (min-width: 768px) and (max-width: 1280px)
		margin-top 20px
	
.principles
	padding-top 50px
	padding-bottom 60px
	background-color #F5F5F0
	
	&__title
		margin-top 22px
		margin-bottom 2.5rem
		font-size 20px
		font-weight 700
		line-height 1.6
		text-align center
	
	@media screen and (min-width: 768px)
		&__title
			margin-bottom 65px
			font-size 40px
			line-height 48px
	
	@media screen and (min-width: 768px) and (max-width: 1280px)
		.columns
			flex-wrap wrap
			justify-content center
		.column
			flex 0 1 33.33%
	
.advantage
	position relative
	padding-top .75rem
	padding-bottom 40px
	font-size 16px
	color #242323
	text-align center
	overflow hidden
	
	&__hero
		// position relative
		padding 31px 0px
		// overflow-y hidden
		
	&__hero-body
		// display inline-block
		position relative
		z-index 10
		max-width 225px
		margin auto
		padding 32px 20px
		padding-left 30px
		text-align left
		background-color #fff
		
	&__body
		position relative
		// z-index 10
		max-width 280px
		margin 0 auto
		background-color #fff
	
	&__title
		font-size 64px
		font-weight 700
		line-height 1
		letter-spacing 2.5px
		text-align center
		
	&__subtitle
		margin-top 1rem
		margin-bottom 1em
		font-size 16px
		line-height 1.5
		font-weight 700
		
	&__text
		margin-bottom 1em
		font-size 16px
		line-height 1.5
		color #4D4A4A
	
		
	&__btn
		padding 13px 49px
		border 2px solid transparent
		transition all 0.6s ease
		
		&:hover
			color #807C7C
			background-color #fff
			border 2px solid $logo-color_yellow
		
			.advantage__btn-link
				color #807C7C
		
	&__bg-image
		top 0
		left 0
		bottom 0 
		right 0
		min-width 100%
		max-width 320px
		min-height 256px
		max-height 256px
		margin 0 auto
		
	
	@media screen and (min-width: 500px)
		padding 40px 0
			
		&__bg-image
			min-width auto
			min-height auto
			
			
	@media screen and (min-width: 768px)
		padding 80px 0
		
		&__bg-image
			min-width auto
			min-height auto
			height auto
			max-width none
			max-height none
			
		&__hero
			position relative
			padding 65px 108px
			overflow hidden
		
		&__hero-body
			max-width 408px
			padding 75px 55px
			
		&__body
			max-width 720px
			
		&__title
			font-size 126px
			
		&__subtitle
			margin-bottom 32px
			font-size 24px
		
			line-height 1.33
			
		&__subtitle_sm
			margin 0
		
		&__text
			margin-bottom 40px
			font-size 20px
			line-height 1.6
			
	@media screen and (min-width: 1280px)
		padding 100px 0
		text-align left
		
		&__hero
			padding 65px 75px
			
		&__hero-body
			padding 75px 35px
		
		&__body
			padding-left 19.375%
			
		&__bg-image
			left 0
		
		&__subtitle
			margin-top 40px
		
		&__subtitle_sm
			margin 0
			
	@media screen and (max-width: 767px)
		&__subtitle_sm
			margin 0
			font-size 14px
			line-height 1.5
		
.services
	padding-top 23px
	padding-bottom 36px
	
	&__container
		padding-right 0
	
	&__carousel
		max-width 360px
		margin 0 auto
		padding-bottom 110px
		overflow hidden
	
	&__title
		color #242424
		
	&__wrapper_flex
		display flex
		position relative
		left calc(-93.33% - 16px)
		transform translate(93.33%)
		
	.is-reversing
		transform translate(-93.33%)
	
	.transform_none
		transform none
		transition transform 0.5s cubic-bezier(0.23, 1, 0.32, 1)

	&__item_flex
		flex 0 0 93.33%
		order 1
		margin-right 16px
		
	.previous
		order 0
		
	@media screen and (min-width: 381px) and (max-width: 767px)
		&__container
			padding 0 20px
	
	@media screen and (min-width: 620px)
		padding-top 62px
		
		&__carousel
			max-width 600px
		
		&__wrapper_flex
			left calc(-46.6666% - 16px)
			transform translate(46.6666%)
			
		.is-reversing
			transform translate(calc(-46.6666% - 16px))
			
		.transform_none
			transform none

		&__item_flex
			flex 0 0 46.6666%
			
	@media screen and (min-width: 768px)
		&__carousel
			max-width 744px
			
		&__wrapper_flex
			left calc(-47.3118% - 16px)
			transform translate(47.3118%)
		
		.is-reversing
			transform translate(calc(-47.3118% - 16px))
			
		.transform_none
			transform none
		
		&__item_flex
			flex 0 0 47.3118%
	
	@media screen and (min-width: 792px)
		&__container
			padding 0 24px
		
	@media screen and (min-width: 1280px)
		padding-top 100px
		
		&__container
			padding 0 24px
		
		&__carousel
			max-width 882px
		
		&__wrapper_flex
			left calc(-46.0317% - 30px)
			transform translate(46.0317%)
			
		.is-reversing
			transform translate(-46.0317%)
			
		.transform_none
			transform none
		
		&__item_flex
			flex 0 0 46.0317%
			margin-right 30px
			
	@media screen and (min-width: 1420px)
		
			
		&__carousel
			max-width none
			
		&__wrapper_flex
			left calc(-30.29% - 30px)
			transform translate(30.29%)
			
		.is-reversing
			transform translate(-30.29%)
		
		.transform_none
			transform none
		
		&__item_flex
			flex 0 0 30.29%
			margin-right 30px
		

.projects
	
	/// test
	&__wrapper_flex
		display flex
		z-index 2
		transform translate(100%)
			
	//.is-transform
		// transform translate(100%)
	
	.is-transform_reverse
		transform translate(-100%)
		// transition transform 1.4s ease
	
	.translate_none
		transform none
		transition transform 1.4s ease
		// transition transform 1.4s ease
		// transition transform 0.5s cubic-bezier(0.23, 1, 0.32, 1)
		
	&__item_flex
		flex 0 0 93%
		position relative
		left calc(-100% + 8px)
		margin-right 16px
		min-height 100px
		transition opacity 1.4s ease
		
		@media screen and (min-width: 768px)
			padding 0 20px
			
	&__container_carousel
		margin-top 2rem
		padding-right 0
		
		@media screen and (min-width: 381px)
			padding 0 20px
		
		@media screen and (min-width: 768px) and (max-width: 1279px)
			padding-left 0
			padding-right 24px
		
	////
	
	&__title
		z-index 10
		position relative
		margin-bottom 24px

	&__carousel
		max-width 360px
		margin 0 auto
		padding-bottom 85px
		overflow hidden
			
		&.background_none
			background-size 0
			transition background .6s ease-in-out
			
		&.background
			background-size auto
			transition background 1s ease-in-out
			
	@media screen and (min-width: 620px)
		&__carousel
			max-width 600px
			
		&__item_flex
			flex 0 0 96%
			//left calc(-100% + 12px)
				
	@media screen and (min-width: 768px)
		padding-top 10px
		
		&__carousel
			max-width none
		
		&__item_flex
			flex 0 0 100%
			left -100%
		
		&__title-wrapper
			position relative
			text-align right
			
		&__title-bg
			position absolute
			right 3.75em
			bottom -70%
			width 251px
			height 252px
			content ''
			background-image url('../images/emblem_gray.png')
				
		
		&__title
			display inline-block
			margin 0
			text-align left
			
	@media screen and (min-width: 960px)
				
			&__title-wrapper
				overflow-y visible
			
			&__title-bg
				overflow-x hidden

			
	@media screen and (min-width: 1280px)
		padding-top 40px
		
		&__title-bg
			left 0
			right auto
		
		&__title
			max-width 4.25em
			margin-left 36.7%
			
		&__carousel-nav
			left 53%
			transform none
			
		&__carousel
			// background-color yellow
			background-image url('../images/about-back.png')
			background-position left bottom
			background-repeat no-repeat
			background-size 40.9173%
			transition background 1s ease-in-out
			
	@media screen and (min-width: 1420px)
	
		&__carousel
			background-size 33.9552%
		
			
.principle__item
	margin-bottom 1.5rem

.principle__icon
	display block
	width 58px
	height 59px
	line-height 59px
	text-align center
	background-image url('../images/princ_out.png')
	background-repeat no-repeat
	background-position 0 0 
	
	&-in
		display inline-block
		vertical-align middle
		background-repeat no-repeat
		
		&_1
			sprite $princip_in1
		&_2
			sprite $princip_in2
		&_3
			sprite $princip_in3
		&_4
			sprite $princip_in4
		&_5
			sprite $princip_in5
	
	@media screen and (max-width: 1280px)
		margin auto
	
.principle__text
	max-width 15.625rem
	margin-top 32px
	margin-left auto
	margin-right auto
	font-size 16px
	line-height 24px
	
	@media screen and (max-width: 1280px)
		text-align center

.contact
	padding 3em 0
	text-align center
	
	&__body
		
		max-width 560px
		margin 0 auto
		text-align center
	
	&__title
		margin-bottom 1em
		font-size 20px
		font-weight 700
		line-height 1.6
		color #242323
		
	&__text
		margin-bottom 2em
		font-size 1em
		line-height 1.5
		color #4D4A4A
		
	&__items-wrapper
		display inline-block
		
	&__item
		margin-bottom 2em
		text-align left
		font-size 20px
		font-weight 700
		line-height 37px
		color #242323
		
		&-icon
			display inline-block
			vertical-align middle
			width 37px
			height 37px
			margin-right 20px
			line-height 37px
			background-image url('../images/contact-icon-in_phone.png'), url('../images/contact-icon-out.png')
			background-repeat no-repeat, no-repeat
			background-position 12px 10px, 0 0
			background-size , contain
			
			&_email
				background-image url('../images/contact-icon-in_email.png'), url('../images/contact-icon-out.png')
				background-position 10px 12px, 0 0 
				
	@media screen and (min-width: 768px)
		padding 60px 0
		
		&__title
			font-size 3em
			line-height 56px
			
		&__text
			font-size 20px
			line-height 1.6
			
		&__item
			font-size 24px
			
	@media screen and (min-width: 1280px)
		
		&__body
			max-width 460px
			text-align left
			
		&__title
			margin-top 60px

