.project
	position relative
	z-index 5
	display block
	min-height 24.625rem
	
	padding 36px 0
	overflow hidden
		
	&__bg-image
		max-width none
		
	&__hero-wrapper
		height 0
	
	&__body-wrapper
		position relative
		z-index 10
		height 100%
	
	&__body
		padding-left 16px
	
	&__title
		max-width 200px
		
		margin-bottom 78px
		font-size 16px
		font-weight 700
		line-height 1.5
		color #fff	
		
	&__text
		display none
		font-size 16px
		line-height 1.5
		
	&__btn
		padding 16px 30px
		font-size 16px
		font-weight 500
		color #fff
		background-color #000
		
	&__btn_contact
		margin-top 39px
		margin-bottom 24px
		padding 15px 20px
		font-size 14px
		font-weight 500
		color #807C7C
		text-transform none
		background-color #fff
		border 2px solid $logo-color_yellow
		
		&:hover
			color #fff
			background-color $logo-color_yellow
			border-color transparent
	
	&__hero .index
		position absolute
		z-index 10
		top 0
		left 0
		width 100%
		height 100%
		font-size 70px
		font-weight 700
		line-height 400px
		text-align center
		color #fff
		opacity .6
	
	@media screen and (min-width: 768px)
		overflow visible
		
		&__hero .index
			background-color #000
		
		&__filter
			display none
			
		&__hero-wrapper
			position relative
			height 31.25em
			
			&::before
				position absolute
				left -21px
				bottom 0
				width 100%
				height 73.2%
				content ''
				background-image url('../images/about-back.png')
				background-repeat no-repeat
	
		&__hero
			position relative
			height 100%
			
			overflow hidden
			
		&__body
			position absolute
			top 50%
			left 2em
			max-width 26.25em
			transform translateY(-50%)
		
		&__title
			max-width none
			
			margin-bottom 1em
			font-size 24px
			line-height 1.33
			color #242424
			
		&__text
			display block
			
			margin-bottom 1em

			
	@media screen and (min-width: 1280px)
		
		&__bg-image.bg-image
			left 0
			
		&__hero-wrapper
			margin-left 14.6113% // 109px
			height 31.25em
			background-color #fff
			
			&::before
				width 0
				height 0
				background-image none
	
		&__body-wrapper
			// background-color #fff
			
		&__body
			top auto
			left 6em
			bottom 0
			transform none
			
		&__title
			margin-bottom 1em
		
		&__text
			margin-bottom 5em

