mixin project(index)
	+b.project&attributes(attributes)

		.columns.project__columns
			.column.is-7-desktop
				.project__hero-wrapper
					.project__hero
						span.index= index
						img.bg-image.project__bg-image(src='./assets/images/project-1.png')
						.filter.project__filter

			.column
				.project__body-wrapper
					.project__body

						+btn()(class='project__btn_contact')
							| Разработка ПО

						h3.project__title
							| Создание интернет-магазина и crm-системы для учета покупок

						p.project__text
							| Мы готовы разработать решения любой сложности с учётом индивидуальных особенностей вашего бизнеса и запросов ваших клиентов.

						+btn()(class='project__btn')
							| Подробнее
		block
