.btn
	display inline-block
	font-size 20px
	font-weight 700
	line-height 1
	color #FFF
	text-transform uppercase
	
	padding 14px 42px
	background-color $logo-color_yellow
	transition all .6s ease
	
	&_dark
		
		&:hover
			background-color #807C7C