@font-face 
	font-family Fira Sans
	src	url('../fonts/FiraSans/FiraSans.eot')
	src local(Fira Sans),
		url('../fonts/FiraSans/FiraSans.woff') format('woff'),
		url('../fonts/FiraSans/FiraSans.woff2') format('woff2'),
		url('../fonts/FiraSans/FiraSans.eot?#iefix') format('embedded-opentype'),
		url('../fonts/FiraSans/FiraSans.ttf') format('truetype'),
		url('../fonts/FiraSans/FiraSans.svg#FiraSans') format('svg')
	font-style normal
	font-weight 400
	
@font-face 
	font-family Fira Sans
	src	url('../fonts/FiraSans/FiraSans-Italic.eot')
	src local(Fira Sans Italic),
		url('../fonts/FiraSans/FiraSans-Italic.woff') format('woff'),
		url('../fonts/FiraSans/FiraSans-Italic.woff2') format('woff2'),
		url('../fonts/FiraSans/FiraSans-Italic.eot?#iefix') format('embedded-opentype'),
		url('../fonts/FiraSans/FiraSans-Italic.ttf') format('truetype'),
		url('../fonts/FiraSans/FiraSans-Italic.svg#FiraSans-Italic') format('svg')
	font-style italic
	font-weight 400
	
@font-face 
	font-family Fira Sans
	src	url('../fonts/FiraSans/FiraSans-Bold.eot')
	src local(Fira Sans Bold),
		url('../fonts/FiraSans/FiraSans-Bold.woff') format('woff'),
		url('../fonts/FiraSans/FiraSans-Bold.woff2') format('woff2'),
		url('../fonts/FiraSans/FiraSans-Bold.eot?#iefix') format('embedded-opentype'),
		url('../fonts/FiraSans/FiraSans-Bold.ttf') format('truetype'),
		url('../fonts/FiraSans/FiraSans-Bold.svg#FiraSans-Bold') format('svg')
	font-style normal
	font-weight 700
	
@font-face 
	font-family Fira Sans
	src	url('../fonts/FiraSans/FiraSans-BoldItalic.eot')
	src local(Fira Sans Bold Italic),
		url('../fonts/FiraSans/FiraSans-BoldItalic.woff') format('woff'),
		url('../fonts/FiraSans/FiraSans-BoldItalic.woff2') format('woff2'),
		url('../fonts/FiraSans/FiraSans-BoldItalic.eot?#iefix') format('embedded-opentype'),
		url('../fonts/FiraSans/FiraSans-BoldItalic.ttf') format('truetype'),
		url('../fonts/FiraSans/FiraSans-BoldItalic.svg#FiraSans-BoldItalic') format('svg')
	font-style italic
	font-weight 700
	
@font-face 
	font-family Fira Sans
	src	url('../fonts/FiraSans/FiraSansMedium.eot')
	src local(Fira Sans Medium),
		url('../fonts/FiraSans/FiraSansMedium.woff') format('woff'),
		url('../fonts/FiraSans/FiraSansMedium.woff2') format('woff2'),
		url('../fonts/FiraSans/FiraSansMedium.eot?#iefix') format('embedded-opentype'),
		url('../fonts/FiraSans/FiraSansMedium.ttf') format('truetype'),
		url('../fonts/FiraSans/FiraSansMedium.svg#FiraSansMedium') format('svg')
	font-style normal
	font-weight 500
	
@font-face 
	font-family Fira Sans
	src	url('../fonts/FiraSans/FiraSansMedium-Italic.eot')
	src local(Fira Sans Medium Italic),
		url('../fonts/FiraSans/FiraSansMedium-Italic.woff') format('woff'),
		url('../fonts/FiraSans/FiraSansMedium-Italic.woff2') format('woff2'),
		url('../fonts/FiraSans/FiraSansMedium-Italic.eot?#iefix') format('embedded-opentype'),
		url('../fonts/FiraSans/FiraSansMedium-Italic.ttf') format('truetype'),
		url('../fonts/FiraSans/FiraSansMedium-Italic.svg#FiraSansMedium-Italic') format('svg')
	font-style italic
	font-weight 500
	
@font-face 
	font-family Fira Sans
	src	url('../fonts/FiraSans/FiraSansLight.eot')
	src local(Fira Sans Light),
		url('../fonts/FiraSans/FiraSansLight.woff') format('woff'),
		url('../fonts/FiraSans/FiraSansLight.woff2') format('woff2'),
		url('../fonts/FiraSans/FiraSansLight.eot?#iefix') format('embedded-opentype'),
		url('../fonts/FiraSans/FiraSansLight.ttf') format('truetype'),
		url('../fonts/FiraSans/FiraSansLight.svg#FiraSansLight') format('svg')
	font-style normal
	font-weight 300
	
@font-face 
	font-family Fira Sans
	src	url('../fonts/FiraSans/FiraSansLight-Italic.eot')
	src local(Fira Sans Light Italic),
		url('../fonts/FiraSans/FiraSansLight-Italic.woff') format('woff'),
		url('../fonts/FiraSans/FiraSansLight-Italic.woff2') format('woff2'),
		url('../fonts/FiraSans/FiraSansLight-Italic.eot?#iefix') format('embedded-opentype'),
		url('../fonts/FiraSans/FiraSansLight-Italic.ttf') format('truetype'),
		url('../fonts/FiraSans/FiraSansLight-Italic.svg#FiraSansLight-Italic') format('svg')
	font-style italic
	font-weight 300

@font-face 
	font-family Umpqua
	src	url('../fonts/Umpqua/Umpqua.eot')
	src local(Umpqua),
		url('../fonts/Umpqua/Umpqua.woff') format('woff'),
		url('../fonts/Umpqua/Umpqua.woff2') format('woff2'),
		url('../fonts/Umpqua/Umpqua.eot?#iefix') format('embedded-opentype'),
		url('../fonts/Umpqua/Umpqua.ttf') format('truetype'),
		url('../fonts/Umpqua/Umpqua.svg#Umpqua') format('svg')
	font-style normal
	font-weight 400

@font-face 
	font-family Umpqua
	src	url('../fonts/Umpqua/UmpquaLight.eot')
	src local(UmpquaLight),
		url('../fonts/Umpqua/UmpquaLight.woff') format('woff'),
		url('../fonts/Umpqua/UmpquaLight.woff2') format('woff2'),
		url('../fonts/Umpqua/UmpquaLight.eot?#iefix') format('embedded-opentype'),
		url('../fonts/Umpqua/UmpquaLight.ttf') format('truetype'),
		url('../fonts/Umpqua/UmpquaLight.svg#UmpquaLight') format('svg')
	font-style normal
	font-weight 300

@font-face 
	font-family Umpqua
	src	url('../fonts/Umpqua/UmpquaBold.eot')
	src local(UmpquaBold),
		url('../fonts/Umpqua/UmpquaBold.woff') format('woff'),
		url('../fonts/Umpqua/UmpquaBold.woff2') format('woff2'),
		url('../fonts/Umpqua/UmpquaBold.eot?#iefix') format('embedded-opentype'),
		url('../fonts/Umpqua/UmpquaBold.ttf') format('truetype'),
		url('../fonts/Umpqua/UmpquaBold.svg#UmpquaBold') format('svg')
	font-style normal
	font-weight 700
	
