/* Colours */
$text-color = #4D4A4A
$title-color = #242323
$logo-color_black = #231F20
$logo-color_yellow = #E2D834
$bg-color_principles = #F5F5F0
$bg-color_footer = #807C7C
$nav-color = #EDEDE8
$nav-color_active = #4C4B4B
