extends /blocks/layout-default/layout-default

include /blocks/header/header
include /blocks/footer/footer

include /blocks/btn/btn
include /blocks/service/service
include /blocks/project/project
include /blocks/slide/slide
include /blocks/form/form

block head
	- var pageTitle = 'Antanta';

block content
	- var phone = '+7 (495) 512-32-56';

	- var email = 'info@antanta.tech';

	- var menuItems = {'about': 'О нас', 'credo':'Философия', 'services': 'Услуги', 'projects': 'Проекты'};

	+header(phone, menuItems)

	section.slideshow
		+slide({'title': 'Модернизация или замена любого программного обеспечения:', 'text': 'Обновление ПО, разработка продуктов, отвечающих самым современным требованиям и условиям ведения бизнеса.', 'img': './assets/images/slide-1.jpg'})(class='slide_active')
		+slide({'title': 'Мы создаём программное обеспечение для бизнеса', 'text': 'Задачи любой сложности и масштаба, самые современные технологии, минимальные сроки, максимальная эффективность.', 'img': './assets/images/slide-2.jpg'})
		+slide({'title': 'Консультативные услуги в области IT и электронной коммерции', 'text': 'Аналитика, экспертиза, аутстаффинг специалистов, решение IT-задач любой сложности в сфере электронной коммерции. ', 'img': './assets/images/slide-3.jpg'})
		.container
			.columns
				.column.is-5-widescreen.slideshow__nav-wrapper
					.nav.carousel__nav.slideshow__carousel-nav
						.nav__out.nav__out_active.slideshow__nav-out.slideshow__nav-out_active
							span.nav__inner.nav__inner_active.slideshow__nav-inner.slideshow__nav-inner_active
						.nav__out.slideshow__nav-out
							span.nav__inner.slideshow__nav-inner
						.nav__out.slideshow__nav-out
							span.nav__inner.slideshow__nav-inner
					span#about
				.column.display-none-column_sm-md

	section.about
		.container
			.columns.flex-flow_md
				.column.about__picture.display-none-column_sm
					.about__img-wrapper
						img.about__img(src='./assets/images/about.jpg')
				.column.about__hero
					.about__hero-body
						h2.about__title
							| Антанта — это
						p.about__text
							| крупная компания в сфере IT с большим опытом работы и командой квалифицированных специалистов. Наша профессия – комплексные решения для бизнеса, начиная от разработки программного обеспечения до его полноценного внедрения в жизнь. Осуществляем весь цикл работ, включая консультации, обучение персонала, экспертизу, модернизацию программного  обеспечения.

	section.automation
		img.bg-image(src='./assets/images/automation.jpg')
		.filter
		.container
			.columns
				.column.about__hero.automation__hero
					.about__hero-body.automation__hero-body
						h2.about__title.automation__title
							| Автоматизация

						p.about__text.automation__text
							| Где бы ни находился ваш офис, специалисты нашей компании изучат имеющиеся возможности и в самые короткие сроки предложат оптимальные решения в сфере IT, способные сделать бизнес эффективнее, финансовые процессы – прозрачнее. А ваши клиенты будут довольны удобством и быстротой, с какими вы производите обслуживание.
				.column.display-none-column_sm-md

	section.advantage
		.container
			.columns.flex-flow_column-md
				.column
					.advantage__hero
						img.bg-image.advantage__bg-image(src='./assets/images/background_advantage.png')
						.advantage__hero-body
							h2.advantage__title
								| &gt;20&nbsp;
							h3.advantage__subtitle.advantage__subtitle_sm
								| Реализованных проектов 
								br 
								| по высоконагруженным торговым площадкам		
				.column
					.advantage__body
						h3.advantage__subtitle
							| Одно из направлений нашей деятельности — создание мощных высоконагруженных торговых площадок, от разработки до отладки и запуска.

						p.advantage__text
							| Мы готовы разработать решения любой сложности с учётом индивидуальных особенностей вашего бизнеса и запросов ваших клиентов.

						+btn(class='advantage__btn')
							a.advantage__btn-link(href='#contact')
								| оставить заявку
		
					#credo

	section.credo
		img.bg-image(src='./assets/images/credo.jpg')
		.filter
		.container
			.columns
				.column.about__hero.automation__hero
					.about__hero-body.credo__hero-body
						h2.about__title.automation__title.credo__title
							| Наша философия

						p.about__text.automation__text
							| Информационные технологии сегодня — это мощнейший инструмент развития бизнеса, без них не обходится не одна сфера деловой активности. Чем серьезнее и грамотнее компания использует IT, тем выше её успех и больше её конкурентные преимущества. Современные технологии, непрерывно развиваясь, дают нам в руки бесконечное число вариантов решения задач и поиска оптимальных моделей для повышения эффективности бизнеса и улучшения условий для работающих в нем людей.
							
				.column.display-none-column_sm-md

	- var principles = ['Максимально эффективно решать задачи, поставленные заказчиком', 'Постоянно развиваться и совершенствоваться в профессиональной сфере', 'Использовать лучшие современные технические решения в интересах клиента', 'Владеть знаниями во всех сферах IT на экспертном уровне', 'Нести полную ответственность за результат нашей работы']

	section.principles
		.container
			h2.mytitle.principles__title
				| Принципы нашей работы

			.columns.flex-flow_md
				each item, index in principles
					.column.principle__item
						span.principle__icon
							span.principle__icon-in(class='principle__icon-in_' + (index + 1))
						p.principle__text= item
	
	section#services.services
		.container
			h2.services__title.principles__title
				| Наши услуги

		.container.services__container

				.services__carousel

					.services__wrapper_flex.transform_none

						.services__item_flex
							+service({'title': 'Разработка ПО', 'text': 'Любые программные решения для бизнеса. Автоматизируем процессы, увеличим эффективность бизнеса, повысим ваши конкурентные преимущества.', 'src': './assets/images/service-1.jpg'})
							
						.services__item_flex 
							+service({'title': 'Модернизация', 'text': 'Приведём любое программное обеспечение в соответствие с требованиями текущего момента. Обновление, замена, техническая поддержка на всех этапах внедрения и эксплуатации.', 'src': './assets/images/service-2.jpg'})

						.services__item_flex 
							+service({'title': 'Интеграция', 'text': 'Интеграция различных видов программного обеспечения, координация работы всех систем, обеспечение эффекта синергии от согласованного действия цифровых продуктов.', 'src': './assets/images/service-3.jpg'})

						.services__item_flex.previous
							+service({'title': 'IT-консалтинг', 'text': 'Квалифицированная поддержка, консультирование, обучение для руководства и персонала на всех этапах эксплуатации программных решений.', 'src': './assets/images/service-4.jpg'})

					.nav.carousel__nav
						.nav__out.nav__out_active.nav__out_arrow.nav_prev
							span.nav__inner.nav__inner_arrow.nav__inner_arrow-left
						.nav__out.nav__out_active.nav__out_arrow.nav_next
							span.nav__inner.nav__inner_arrow.nav__inner_arrow-right

	section.projects
		.container
			.columns.flex-flow_md
				.column.is-3-tablet
					.projects__title-wrapper
						.projects__title-bg
						h2.services__title.principles__title.projects__title
							| Наши проекты
				.column.display-none-column_sm.gradient

		.container.projects__container_carousel

			.projects__carousel
				.projects__wrapper_flex.translate_none
					.projects__item_flex
						+project(1)
					.projects__item_flex
						+project(2)
					.projects__item_flex
						+project(3)
						span#contact
				.nav.carousel__nav.projects__carousel-nav
					.nav__out.nav__out_active
						span.nav__inner.nav__inner_active
					.nav__out
						span.nav__inner
					.nav__out
						span.nav__inner


	section#contact.contact
		.container
			.columns.flex-flow_column-md
				.column
					.contact__body
						h2.contact__title
							| Мы всегда рады новым вызовам!

						p.contact__text
							| Оставьте заявку или вопрос в форме или свяжитесь с нами удобным для Вас способом:				
						.contact__items-wrapper
							p.contact__item.contact__item
								span.contact__item-icon.contact__item-icon_phone
								= phone

							p.contact__item.contact__item
								span.contact__item-icon.contact__item-icon_email
								= email		

				.column
					
					+form('info@antanta.tech')(class='contact__form')
						

	+footer