extends /blocks/layout-default/layout-default

include /blocks/header/header
include /blocks/footer/footer

include /blocks/btn/btn
include /blocks/service/service
include /blocks/project/project

block head
	- var pageTitle = 'Antanta';

block content
	- var phone = '+7 (495) 512-32-56';
	- var menuItems = ['О нас', 'Философия', 'Услуги', 'Проекты'];

	+header(phone, menuItems)

	section.about
			.container
				.columns
					.column.about__picture.display-none-column_sm
						.about__img-wrapper
							img.about__img(src='./assets/images/about.png')
					.column.about__hero
						.about__hero-body
							h2.about__title
								| Антанта — это
							p.about__text
								| крупная компания в сфере IT с большим опытом работы и командой квалифицированных специалистов. Наша профессия – комплексные решения для бизнеса, начиная от разработки программного обеспечения до его полноценного внедрения в жизнь. Осуществляем весь цикл работ, включая консультации, обучение персонала, экспертизу, модернизацию программного обеспечения.

	section.automation
		img.bg-image(src='./assets/images/automation.png')
		.filter
		.container
			.columns
				.column.about__hero.automation__hero
					.about__hero-body.automation__hero-body
						h2.about__title.automation__title
							| Автоматизация

						p.about__text.automation__text
							| Где бы ни находился ваш офис, специалисты нашей компании изучат имеющиеся возможности и в самые короткие сроки предложат оптимальные решения в сфере IT, способные сделать бизнес эффективнее, финансовые процессы – прозрачнее. А ваши клиенты будут довольны удобством и быстротой, с какими вы производите обслуживание.
				.column.display-none-column_sm-md

	section.advantage
			.container
				.columns.flex-flow_column-md
					.column
						.advantage__hero
							img.bg-image.advantage__bg-image(src='./assets/images/background_advantage.png')
							.advantage__hero-body
								h2.advantage__title
									|&gt;200
								h3.advantage__subtitle.advantage__subtitle_sm
									|Реализованных проектов по высоконагруженным торговым площадкам


						
					.column
						.advantage__body
							h3.advantage__subtitle
								|Одно из направлений нашей деятельности — создание мощных высоконагруженных торговых площадок, от разработки до отладки и запуска.

							p.advantage__text
								|Мы готовы разработать решения любой сложности с учётом индивидуальных особенностей вашего бизнеса и запросов ваших клиентов.

							+btn(class='btn')
								|оставить заявку
			

	section.credo
		img.bg-image(src='./assets/images/credo.png')
		.filter
		.container
			.columns
				.column.about__hero.automation__hero
					.about__hero-body.credo__hero-body
						h2.about__title.automation__title.credo__title
							| Наша философия

						p.about__text.automation__text
							| Информационные технологии сегодня — это мощнейший инструмент развития бизнеса, без них не обходится не одна сфера деловой активности. Чем серьезнее и грамотнее компания использует IT, тем выше её успех и больше её конкурентные преимущества. Современные технологии, непрерывно развиваясь, дают нам в руки бесконечное число вариантов решения задач и поиска оптимальных моделей для повышения эффективности бизнеса и улучшения условий для работающих в нем людей.
							
				.column.display-none-column_sm-md
	
	section.services
		.container.overflow_hidden
			h2.services__title.principles__title
				|Наши услуги
			.container-inner
				.columns.flex-flow_row
					.column
						+service()
					.column
						+service()
					.column
						+service()

	section.projects
		+project()

	section.principles
			.container
				h2.principles__title
					| Принципы нашей работы

				.columns
					.column
						span.principle__icon

						p.principle__text
							| Максимально эффективно решать задачи, поставленные заказчиком
					.column
						span.principle__icon
						p.principle__text
							| Постоянно развиваться и совершенствоваться в профессиональной сфере
					.column
						span.principle__icon
						p.principle__text
							| Использовать лучшие современные технические решения в интересах клиента
					.column
						span.principle__icon
						p.principle__text
							| Владеть знаниями во всех сферах IT на экспертном уровне
					.column
						span.principle__icon
						p.principle__text
							| Нести полную ответственность за результат нашей работы


	+footer