.header
	display block
	min-height 65px
	font-family Fira Sans
	
	padding 15px 0
	outline 1px solid green
	clearfix()
		
	&__menu
		margin-top 16px
		margin-left 50px
			
	&__phone
		float right
		
		margin-top 2px	
	&__question
		margin-top 2px
	
	@media screen and (min-width: 768px)
		padding 18px 0
		
		&__phone
			margin-top 16px
		&__question
			margin-top 9px
