.header
	display block
	
	position fixed
	top 0
	left 0
	width 100%
	min-height 65px
	
	z-index 100
	padding 15px 0
	font-family Fira Sans
	background-color #fff
	box-shadow 0 0 10px rgba(227, 227, 227, .6)
	clearfix()
		
	&__menu
		margin-top 16px
		margin-left 50px
			
	&__phone
		float right
		
		margin-top 2px	
	&__question
		margin-top 2px
	
	@media screen and (min-width: 768px)
		padding 18px 0
		
		&__phone
			margin-top 16px
		&__question
			margin-top 9px
