mixin service()
	+b.service&attributes(attributes)
		img.service__img(src='./assets/images/service-1.png')
		.service__body-wrapper
			.service__body
				h3.service__title
					|Разработка ПО
				p.service__text
					|Любые программные решения для бизнеса. Автоматизируем процессы, увеличим эффективность бизнеса, повысим ваши конкурентные преимущества.
				.btn.service__btn
					|Подробнее
		block
