mixin service(item)
	+b.service&attributes(attributes)
		img.service__img(src=item.src)
		.service__body-wrapper
			.service__body
				h3.service__title= item.title
				p.service__text= item.text
				.btn.btn_dark.service__btn
					|Подробнее
		block
