.slide
	position relative
	display none
	min-width 320px
	min-height 24.75rem
	
	padding-top 15.5%
	padding-bottom 52px
	overflow hidden

	transition(all 1.5s ease-in-out)
	
	&__bg-image
		max-width none

	&__body
		margin 0 auto
		text-align center
		color #fff	
		
	&__title
		margin-bottom 1.125em
		font-size 20px
		font-weight 700
		line-height 28px
		
	&__text
		margin-bottom 12px
		font-size 16px
		line-height 24px
	
	&_active
		display block
		
	@media screen and (min-width: 330px)
		&__body
			padding 0 5px
			max-width 420px
		
	@media screen and (min-width: 768px)
		min-height 620px
		
		padding-bottom 62px
	
		&__title
			font-size 28px
			line-height 36px
			
		&__text
			margin-bottom 28px
			font-size 20px
			line-height 1.6em
			
		&__btn
			margin-bottom 76px
			
	@media screen and (min-width: 768px) and (max-width: 1054px)
		&__body
			max-width 33rem
	
	@media screen and (min-width: 1055px) and (max-width: 1279px)
		&__body
			max-width 40rem
		
		&__title
			margin auto
			max-width 36rem
			
	@media screen and (min-width: 768px) and (max-width: 1279px)
			
		&__title
			margin-top 3rem
			margin-bottom 3rem
			
	@media screen and (min-width: 1280px)
		padding-top 11.5%
		
		&::after
			position absolute
			left 42.5781%
			bottom -1px
			width 79px
			height 122px
			content ''
			background-image url('../images/slide-emblem.png')
			background-repeat no-repeat
		
		&__bg-image.bg-image
			left 42.5781%
		
		&__body
			padding-left 0
			text-align left
			
			
		&__title
			color #242323
			
		&__text
			color #4D4A4A
		