mixin slide(item)
	+b.slide&attributes(attributes)
		img.bg-image.slide__bg-image(src=item.img)
		.filter
		.container
			.columns
				.column.is-5-widescreen
					.slide__body
						.slide__title= item.title
						.slide__text= item.text
						+btn()(class='advantage__btn slide__btn')
							| Подробнее
				.column.display-none-column_sm-md
		block
