include ../logo/logo

mixin footer(email)
	+b.footer&attributes(attributes)
		.container
			.columns.flex-flow_md
				.column.column-5.column-order_last
					p.contacts.footer__contacts
						span.footer__contacts-mail info@antanta.tech
						|+7 (495) 512-32-56
				.column.column-2
					+logo(true)(class='footer__logo')
				.column.column-5
					p.copyright.footer__copyright
						|© Antanta, 2018 
						br 
						|Все права защищены
				
			block
